.filters {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.filters > .filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.filters > .filter:last-of-type {
  margin-bottom: 3rem;
}

.filters > .filter.filterNumber {
  display: flex;
  flex-flow: row wrap;
  gap: 0 0.5rem;
}

.filters > .filter.filterNumber > h3 {
  width: 100%;
  text-align: center;
}

.filters > .filter.filterNumber > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(1rem - 4px) 1.5rem;
  width: 30px;
  border-radius: 5rem;
  cursor: pointer;
  border: unset;
  color: var(--text-secondary);
  background-color: var(--primary);
  box-shadow: 0 4px 0 0 var(--primary-strong);
}

.filters > .filter.filterNumber > span:hover {
  background-color: var(--primary-soft);
}

.filters > .filter.filterNumber > span:active {
  background-color: var(--primary-strong);
}

.filters > .filter.filterNumber input::-webkit-outer-spin-button,
.filters > .filter.filterNumber input::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}

.filters > .filter.filterNumber input[type=number] {
  appearance: none;
  -moz-appearance: textfield;
}