.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 4rem 0 8rem;
}

.container > h1 {
  color: var(--secondary);
  margin: 0;
}

.container > h3 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.container > .image {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-top: 2rem;
}

.container > .image > img {
  width: auto;
  height: 100%;
}

.container > .answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
  margin: 3rem;
}

.container > .answers.answered {
  pointer-events: none;
}

.container > .answers.answered > button {
  transition: 0.7s;
}

.container > .filters {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.container > .filters > .filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.container > .filters > .filter:last-of-type {
  margin-bottom: 3rem;
}

.container > .filters > .filter.filterNumber {
  display: flex;
  flex-flow: row wrap;
  gap: 0 0.5rem;
}

.container > .filters > .filter.filterNumber > h3 {
  width: 100%;
  text-align: center;
}

.container > .filters > .filter.filterNumber > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(1rem - 4px) 1.5rem;
  width: 30px;
  border-radius: 5rem;
  cursor: pointer;
  border: unset;
  color: var(--text-secondary);
  background-color: var(--primary);
  box-shadow: 0 4px 0 0 var(--primary-strong);
}

.container > .filters > .filter.filterNumber > span:hover {
  background-color: var(--primary-soft);
}

.container > .filters > .filter.filterNumber > span:active {
  background-color: var(--primary-strong);
}

@media(max-width: 600px) {
  .container > .answers {
    grid-template-columns: 1fr;
  }
}