.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 4rem 0 8rem;
}

.container > h1 {
  color: var(--secondary);
  margin: 0;
}

.container > h3 {
  margin: 0;
}

.container > img {
  margin-top: 2rem;
}

.container > .answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
  margin: 2rem 0 3rem;
}

.container > .answers > button{
  padding: 1rem 4rem;
  border-radius: 5rem;
  cursor: pointer;
  border: unset;
  color: var(--text-secondary);
  background-color: var(--primary);
  box-shadow: 0 4px 0 0 var(--primary-strong);
}

.container > .answers > button:hover {
  background-color: var(--primary-soft);
}

.container > .answers > button:active {
  background-color: var(--primary-strong);
}

.container > button.quiz {
  padding: 1rem 4rem;
  border-radius: 5rem;
  cursor: pointer;
  border: unset;
  color: var(--text-secondary);
}

.container > button.quiz.start {
  background-color: var(--correct);
  box-shadow: 0 4px 0 0 var(--correct-strong);
}

.container > button.quiz.start:hover {
  background-color: var(--correct-soft);
}

.container > button.quiz.start:active {
  background-color: var(--correct-strong);
}

.container > button.quiz.end {
  background-color: var(--warning);
  box-shadow: 0 4px 0 0 var(--warning-strong);
}

.container > button.quiz.end:hover {
  background-color: var(--warning-soft);
}

.container > button.quiz.end:active {
  background-color: var(--warning-strong);
}

@media(max-width: 600px) {
  .container > .answers {
    grid-template-columns: 1fr;
  }
}